/* yellow FFD539 */
body{
	background:#FFD539;
}
#wrap{
	width: 400px;
	height: auto;
	margin-top: 50vh;
  	transform: translateY(-50%);
  	left:calc(50% - 200px);
	position: absolute;
}
p{
	color:#826c1c;
	font-weight: bold;
	width: 100%;
	display: block;
}
#game{
	width: 400px;
	height: 400px;
	background:#826c1c;
	border-radius:5px;
	position: relative;
	border:5px solid #c3a838;
	box-shadow: inset 0 2px 5px 5px rgba(0,0,0,.4), 0 2px 0 0 rgba(255,255,255,.4);
	overflow:hidden;
	transition:border 7s;
}
#game.win{
	border:5px solid #FFF;
}
#credits{
	color:#826c1c;
	position: fixed;
	bottom: 5px;
	left: 20px;
	margin-top:50px;
}
#credits a{
	color:#826c1c;
}
#logo{
	width: 20px;
	height: 20px;
	transform:translateY(4px);
	fill:#333;
	margin-right:8px;
}
#github{
	width: 20px;
	height: 20px;
	transform:translateY(4px);
	margin-right:8px;
	margin-left:15px;
}
.tile{
	width:100px;
	height: 100px;
	position: absolute;
	box-shadow:inset 2px 2px 0 rgba(255,255,255,.3), inset -2px -2px 2px rgba(0,0,0,.2);
	border-radius:5px;
	background: url("../img/eric.png");
	transition:left .1s, top .1s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.tile:after{
	content:"";
	width:100px;
	height: 100px;
	position: absolute;
	border-radius:5px;
	background:transparent;
	transition:background .2s,box-shadow 3s;
	cursor:pointer;
}
.win .tile:after{
	box-shadow: inset 0 0 100px 35px white;
}
.tile:hover:after{
	background:rgba(255,255,255,.4);
}
.tile:active:after{
	background:rgba(0,0,0,.1);
}
.tile.v1{
	background-position-x:0;
	left: 0;
}
.tile.v2{
	background-position-x:-100px;
	left: 25%;
}
.tile.v3{
	background-position-x:-200px;
	left: 50%;
}
.tile.v4{
	background-position-x:-300px;
	left: 75%;
}
.tile.h1{
	background-position-y:0;
	top: 0;
}
.tile.h2{
	background-position-y:-100px;
	top: 25%;
}
.tile.h3{
	background-position-y:-200px;
	top: 50%;
}
.tile.h4{
	background-position-y:-300px;
	top: 75%;
}
a{
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	color:#000;
}
.author,.title{
	font-size: 36px;
	float:left;
	margin:10px 0 30px 0;
	text-transform: uppercase;
}
.clear{
	clear:both;
}
.title{
	float:right;
}
.shuffle{
	background: url("../img/shuffle.png");
	height: 64px;
	width: 64px;
	position: absolute;
	left:168px;
	margin-top:40px;
	cursor:pointer;
}
.edbanger{
	display: block;
	float:left;
	width: 136px;
	height: 43px;
	background: url("../img/edbanger.png");
}
.becausemusic{
	display: block;
	float:right;
	width: 104px;
	height: 43px;
	background: url("../img/becausemusic.png");
}